.content{
    flex-direction: column;
    align-items: flex-start;
}

.info-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 30px 15px;
}

.image-content {

}

.description-content{
    width: 300px;
}
.description-content p {
    text-align: justify;
    text-justify: inter-word;
}

.request-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 20px 20px;

}

.look-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.input-content {
    margin: 10px 0px;
}

@media screen and (max-width: 790px){
    .info-content {        
        flex-direction: column;
        margin: 10px 0px;
    }

    .description-content{
        margin: 15px 0px;
    }
}