

.footer {
    /* position:absolute; 
    bottom:0; 
    width:100%; 
    height:200px;  */

    background-color: #0b0b0c;
    display: flex;
    justify-content: flex-start ;
    padding: 20px 10%;
    color: white;
}
.footer-information{
    display: flex;
    flex-direction: column;
}

.footer-information a{
    margin: 7px 0px;
    text-decoration: none;
    color: white;
}

.footer-logo{
    cursor: pointer;
    margin-left: auto;
}

