.content{
    flex-direction: column;
    align-items: flex-start;
    height: 398px;
}

.form-content {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 width: 100%;
}
.contact-colum-a {
    width: 45%;
}

.contact-colum-a input{
    width: 100%;
}

.contact-colum-b {
    width: 45%;
}

.contact-colum-b textarea {
    width: 100%;
}

.contact-input-content{
    margin: 30px 15px;
}

@media screen and (max-width: 790px){

    .contact-colum-a {
        width: 100%;
    }

    .contact-colum-b {
        width: 100%;
    }

    .form-content {        
        flex-direction: column;
        margin: 10px 0px;
    }
}