<div class="content">
    <h2>Contactenos</h2>
    <div class="form-content">
        <div class="contact-colum-a">
            <span class="p-float-label contact-input-content">
                <input id="float-input-name" type="text" pInputText>
                <label for="float-input-name">Nombre</label>
            </span>
            <span class="p-float-label contact-input-content">
                <input id="float-input-email" type="text" pInputText>
                <label for="float-input-email">Correo</label>
            </span>
        </div>
        <div class="contact-colum-b">
            <span class="p-float-label contact-input-content">
                <textarea inputId="textarea" rows="5" pInputTextarea autoResize="autoResize"></textarea>
                <label for="textarea">Detalle</label>
            </span>
        </div>
    </div>
</div>