.content{
    flex-direction: column;
    align-items: flex-start;
    height: 450px;
}

.question-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}