header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #0b0b0c;

}

.content-menu{
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    padding: 10px 10%;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.logo-header {
    cursor: pointer;
    margin-right: auto;
}

.header-nav-links {
    list-style: none;
}

.header-nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.header-nav-links li a {
    transition: all 0.3s ease 0s;
}

.header-nav-links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(0, 136, 169, 0.8);

}

.header-button{
    margin: 5px 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2196F3;
    min-width: 180px;
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
}

.dropdown-content input {
    color: black;
    padding: 12px 16px;
    display: block;
  }
  

.dropdown:hover .dropdown-content {
    display: block;
  }

  .content-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

.menuButton-main {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.5s ease-in-out;
}
.top-main {
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in;
}
.top-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.top-options a {
    color: white;
    padding: 15px;
    font-size: 4vmin;
    text-decoration: none;
}
.top-options a:hover {
    color: #0088a9;
}


  @media screen and (max-width: 790px) {
    .content-links {
      display: none;
      visibility: hidden;
    }

    .menu-right {
        width: 60px;
        height: 50px;      
    }

    .menuToggle-main {
        width: 100%;
        height: 100%;
        position: relative;       
    }

    .bar-container {
        position: absolute;
        width: 20px;
        height: 13px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 22;   
    }
    .bar {
        width: 18px;
        height: 2px;
        background-color: white;
        margin-bottom: 3px;
        transition: 0.4s;
        z-index: 10;
        z-index: 21;
    }
    .bar3 {
        margin: 0;
        z-index: 21;
    }
    .bar1.change {
        -webkit-transform: rotate(-45deg) translate(-4px, 4px);
        transform: rotate(-45deg) translate(-4px, 4px);
    }

    .bar2.change {
        opacity: 0;
    }

    .bar3.change {
        -webkit-transform: rotate(45deg) translate(-3px, -4px);
        transform: rotate(45deg) translate(-3px, -4px);
    }

    .menuButton-main.change {
        height: 350px;
        padding: 1.33em;
        background: #0b0b0c;
    }

    .top-main {
        opacity: 1;
        transition: all 0.5s ease-in;
    }
  }

  @media screen and (max-width: 490px) {
    .menuButton-main.change {
        height: 300px;
        padding: 1.33em;
        background: #0b0b0c;
    }
  }