/* You can add global styles to this file, and also import other style files */
html{ height:100%; }
body{ 
  /* min-height:100%;  */
  padding:0; margin:0; position:relative; }

.content {
    display: flex;
    margin: 90px auto 40px;
    padding: 0 16px;
    max-width: 960px;
  }
  